<h2 class="page-header">Manage Categories <%= link_to 'Add New', new_admin_category_path, class: 'btn btn-primary' %> </h2>
<% if @categories.any? %>
<table class="table table-striped">
  <tr>
    <th>Category Name</th>
    <th>Created at</th>
    <th>Actions</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.created_at.to_time.strftime '%B %e at %l:%M %p' %></td>
      <td><%= link_to 'Edit', edit_admin_category_path(category), class: 'btn btn-primary' %>
              <%= link_to 'Delete', admin_category_path(category), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are You Sure?'} %> </td>
    </tr>
  <% end %>
</table>
  <%= will_paginate @categories %>
<% else %>
  <p>No categories found..</p>
<% end %>