<!DOCTYPE html>
<html>
  <head>
    <title>RBlog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <%= render 'partials/navbar' %>
    </nav>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8">

            <%= render 'partials/alerts' %>

            <%= yield %>

          </div>

          <div class="col-md-4 sidebar">
            <%= render 'partials/sidebar' %>
          </div>

        </div>
      </div>
    </section>

    <%= render 'partials/footer' %>

  </body>

</html>

<% console %>